{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Иконопись Вячеслава и Татьяны Михайленко</title>
</head>
<body>

    <header>

    <h1>
        <a href="#hero">Иконописание Санкт-Петербург</a>
    </h1>

    <nav>    

        <ul>

            <li><a href="#about-workshop">О мастерской</a></li>

            <li><a href="#gallery">Галерея</a></li>

            <li><a href="#about-artists">О художниках</a></li>

            <li><a href="#contacts">Контакты</a></li>

            <li><a href="#contacts">Заказать икону</a></li>

        </ul>

    </nav>

    </header>

   <main>

    <section id="hero">

    <div class="container">

        <div class="hero-content">

            <h2>Семейная иконописная мастерская</h2>

            <p>Вячеслава и Татьяны Михайленко</p>

            <p>
                Создаем рукописные православные иконы по канонам
                Русской Православной Церкви.
            </p>

            <a href="#contacts" class="hero-button">
                Заказать икону
            </a>

        </div>

    </div>

</section>

<section id="about-workshop">

    <div class="container">

        <div class="about-workshop-content">

            <div class="about-workshop-text">

                <h2>О мастерской</h2>

                <p>
    Семейная иконописная мастерская Вячеслава и Татьяны
    Михайленко занимается созданием рукописных православных
    икон в соответствии с канонами Русской Православной Церкви.
</p>

<p>
    В работе используются традиционные техники и материалы,
    а каждая икона создается вручную с вниманием к духовному
    и художественному наследию православной иконописи.
</p>

<p>
    Мастерская выполняет как частные заказы, так и работы
    для храмов, часовен и церковных общин.
</p>

            </div>

            <div class="about-workshop-image">

    <img src="{% static 'images/photoicon2.jpg' %}" alt="Мастерская">

</div>

</div>
<h2 class="artists-title">Наши художники</h2>
    
<div class="artists-preview">

    <div class="artist-card">

        <img src="{% static 'images/photoicon3.jpg' %}" alt="Вячеслав Михайленко">

        <h3>Вячеслав Михайленко</h3>

        <p>
            Иконописец, работающий в традициях православной
            церковной живописи.
        </p>

    </div>

    <div class="artist-card">

        <img src="{% static 'images/photoicon.jpg' %}" alt="Татьяна Михайленко">

        <h3>Татьяна Михайленко</h3>

        <p>
           Реставратор, художник-иконописец, участвующий в создании
            авторских и заказных работ мастерской.
        </p>    

    </div>

</div>
          
        </div>

    </div>

</section>

<section id="gallery"></section>

<section id="about-artists"></section>

<section id="contacts"></section>
    </main>

    <footer>

    </footer> 

</body>
</html>