{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Иконопись Вячеслава и Татьяны Михайленко</title>
</head>
<body>

    <header>

    <h1>
        <a href="#hero">Иконописание Санкт-Петербург</a>
    </h1>

    <nav>

        <ul>

            <li><a href="#about-workshop">О мастерской</a></li>

            <li><a href="#gallery">Галерея</a></li>

            <li><a href="#about-artists">О художниках</a></li>

            <li><a href="#contacts">Контакты</a></li>

            <li><a href="#contacts">Заказать икону</a></li>

        </ul>

    </nav>

    </header>

   <main>

    <section id="hero">

    <div class="container">

        <div class="hero-content">

            <h2>Семейная иконописная мастерская</h2>

            <p>Вячеслава и Татьяны Михайленко</p>

            <p>
                Создаем рукописные православные иконы по канонам
                Русской Православной Церкви.
            </p>

            <a href="#contacts" class="hero-button">
                Заказать икону
            </a>

        </div>

    </div>

</section>

<section id="about-workshop"></section>

<section id="gallery"></section>

<section id="about-artists"></section>

<section id="contacts"></section>
    </main>

    <footer>

    </footer> 

</body>
</html>